h3 {
  font-size: 28px;
}

.mb-3 {
  margin-bottom: 0.8em !important;
}

.modal-content {
  border: 1px solid #e5e8ed !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  border-radius: 4px !important;
  font-size: 14px;
}

.modal-header {
  flex-direction: column;
  padding: 0.8em !important;
}

.modal-footer {
  flex-direction: column;
}

.form-control,
.form-control-sm {
  font-size: 1em !important;
  border-radius: 4px !important;
}

.form-decription {
  text-align: center;
  color: #787a80;
}

.go-modal {
  font-weight: 600;
  color: var(--green);
  cursor: pointer;
}

.invalid {
  color: rgb(228, 6, 6);
}

.pages-container {
  display: flex;
  margin: 30px 10% 0;
  gap: 30px;
  justify-content: flex-start;
}
.pages-container .menu {
  border: 1px solid #e5e8ed;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  border-radius: 4px;
}
.pages-container .menu-elem {
  display: flex;
  gap: 5px;
  align-items: center;
  line-height: 52px;
  border: 1px solid #e5e8ed;
  padding: 0 20px;
  cursor: pointer;
  word-wrap: break-word;
}
.pages-container .menu-elem p {
  max-height: 54px;
  min-width: 90px;
}
.pages-container .menu-elem-profile {
  padding-left: 20px;
  word-wrap: break-word;
}
.pages-container .menu-elem-profile p {
  max-height: 54px;
  min-width: 90px;
}
.pages-container .name-profile {
  font-weight: 700;
  font-size: 20px;
  margin-top: 5px;
}
.pages-container .email {
  color: #787a80;
}
.pages-container form {
  border: 1px solid #e5e8ed;
  padding: 10px;
}

.field-form {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 20px 0;
}

.danger {
  font-size: 12px;
  color: rgb(228, 6, 6);
}

.form-span-button {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.home-title {
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.wishlist {
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .pages-container {
    margin: 30px 3% 0;
    gap: 20px;
  }
}
@media screen and (max-width: 620px) {
  .pages-container {
    gap: 5%;
    flex-direction: column;
  }
  .menu-elem {
    line-height: 35px !important;
    padding: 0 10px !important;
    justify-content: center;
  }
}
.collection-page {
  margin: 30px 3% 0;
  display: flex;
  gap: 5%;
}

.rating-cards-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sortind form div {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.sortind .form-label {
  margin: 0;
}
.sortind .form-select-sm {
  width: 100px;
}

.cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px 25px;
  justify-content: flex-start;
  align-items: center;
}

.card-collection {
  cursor: pointer;
}
.card-collection .images {
  position: relative;
}
.card-collection img {
  width: 230px;
  height: 300px;
}
.card-collection .sales-banner {
  position: absolute;
  top: 16px;
  font-size: 10px;
  font-weight: 900;
  background-color: #ff4242;
  color: hsla(0deg, 0%, 100%, 0.8);
  max-width: 70%;
  padding: 5px 7px;
}
.card-collection .new-collection {
  position: absolute;
  bottom: 16px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900;
  background-color: rgba(45, 45, 45, 0.8);
  color: hsla(0deg, 0%, 100%, 0.8);
  max-width: 70%;
  padding: 5px 7px;
}
.card-collection .new-collection:hover {
  transform: scale(1.05);
  left: 2px;
}
.card-collection figcaption {
  padding-left: 16px;
}
.card-collection .card-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #424551;
  margin: 8px 0 0;
  cursor: pointer;
}

.price {
  font-weight: 700;
  font-size: 19px;
  line-height: 26px;
}

.static-price {
  color: #1e212c;
}

.sales-price {
  display: flex;
  align-items: flex-end;
  gap: 13px;
}

.new-price {
  color: #ff4242;
}

.old-price {
  font-weight: 400px;
  font-size: 16px;
  text-decoration-line: line-through;
  color: #787a80;
}

.filter-form {
  font-size: 14px;
}

.filter-card {
  border: 1px solid #e5e8ed;
  padding: 10px 25px;
  max-height: 350px;
}
.filter-card p,
.filter-card .M-btn {
  font-size: 14px;
  line-height: 30px;
}
.filter-card .M-btn {
  margin-top: 10px;
}
.filter-card .invalid {
  font-size: 12px;
  text-align: end;
  cursor: pointer;
}
.filter-card hr {
  margin: 0.5em 0;
}
.filter-card .form-check {
  margin-bottom: 0.2rem;
}

.text-center {
  text-align: center;
}

.card-like {
  width: 18px !important;
  height: auto !important;
}
.card-like:hover {
  transform: scale(1.06);
}

.container-card-like {
  padding: 3px 7px 4px;
  background-color: hsla(0deg, 0%, 100%, 0.8);
  border-radius: 50px;
  border-width: 1px solid var(--gray);
  position: absolute;
  right: 16px;
  bottom: 16px;
  cursor: pointer;
}

.like-one-product {
  position: static !important;
  background-color: rgba(186, 211, 211, 0.685);
  padding: 5.5px 8px 7px;
}

@media screen and (max-width: 1035px) {
  .card-collection .card-like {
    width: 15px !important;
    height: auto !important;
  }
}
@media screen and (max-width: 700px) {
  .card-collection img {
    width: 190px;
    height: 240px;
  }
}
@media screen and (max-width: 610px) {
  .rating-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
  }
  .main-chack {
    max-height: 30px;
  }
  .collection-page {
    flex-direction: column;
  }
  .card-collection img {
    width: 170px;
    height: 220px;
  }
  .cards {
    justify-content: center;
    gap: 50px 15px;
  }
  .filter-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .filter-form .M-btn {
    padding: 0 17.5px;
    margin: 0;
    max-height: 32px;
  }
  .filer-card {
    padding: 10px 15px;
    line-height: 20px;
  }
  .filter-form-check {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  label {
    word-wrap: normal;
    min-width: 50px;
    font-size: 12px;
  }
  hr {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  .cards {
    justify-content: flex-start;
    gap: 50px 15px;
  }
  .filter-form-check {
    flex-wrap: wrap;
    gap: 7px;
  }
  .card-collection .images {
    width: 150px !important;
  }
  .card-collection img {
    width: 150px !important;
    height: 200px !important;
  }
  .card-title {
    font-size: 12px !important;
  }
  .container-card-like {
    right: 7.5px;
  }
  .new-collection {
    padding: 5px 2px;
  }
}
.card-1 {
  margin: 30px 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-1 h2 {
  font-weight: 900;
  max-width: 800px;
}
.card-1 .card-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.card-1 .main-img {
  width: 250px;
}
.card-1 .image-nav {
  position: absolute;
  bottom: 50%;
  padding: 3px 7px 5px;
  background-color: hsla(0deg, 0%, 100%, 0.8);
  border-radius: 50px;
  cursor: pointer;
}
.card-1 .image-nav:hover {
  transform: scale(1.05);
}
.card-1 .image-nav:active {
  background-color: rgba(228, 218, 218, 0.8);
}
.card-1 .mh-image {
  position: relative;
  max-height: 319.2px;
}
.card-1 .next {
  right: 5px;
}
.card-1 .prev {
  left: 5px;
}
.card-1 .header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 10px;
}
.card-1 .draw-rating {
  color: #ff4242;
}
.card-1 .new-collection {
  text-transform: uppercase;
  display: inline;
  font-size: 11px;
  font-weight: 900;
  background-color: rgba(45, 45, 45, 0.8);
  color: rgba(255, 255, 255, 0.925);
  padding: 5px 7px;
}
.card-1 .sales-banner {
  font-size: 12px;
  font-weight: 900;
  background-color: #ff4242;
  color: rgba(255, 255, 255, 0.925);
  max-width: 70%;
  padding: 5px 7px;
  border-radius: 4px;
}
.card-1 .rating {
  display: flex;
  gap: 7px;
  font-weight: 500;
  color: #787a80;
}
.card-1 .count-bag {
  font-size: 13px;
  background-color: rgba(30, 230, 163, 0.502);
  padding: 5px 7px;
}
.card-1 .bag-container,
.card-1 form {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}
.card-1 .bag-container {
  margin: 30px 0;
}
.card-1 input {
  width: 80px;
  max-height: 40px;
}
.card-1 text {
  font-size: 0.8em;
}
.card-1 hr {
  margin: 0.5rem;
}
.card-1 .about {
  cursor: pointer;
}
.card-1 .M-btn {
  display: flex;
  align-items: center;
  gap: 7px;
}
.card-1 .M-btn p {
  font-size: 14px;
  word-wrap: break-word;
  max-height: 54px;
}

table p {
  font-weight: 400;
  font-size: 14px;
}
table tr {
  background-color: #f4f5f6;
  --bs-table-accent-bg: #f4f5f6;
}

.bag-container {
  display: flex;
  gap: 5%;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 14px;
}
.bag-container .M-btn {
  margin-top: 20px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  padding: 0 15px;
}

th div {
  margin-top: 20px;
}

.bag-img {
  width: 80px;
  height: 110px;
}

.bag-name {
  margin-top: 0 !important;
  display: flex;
  gap: 10%;
  align-items: center;
  cursor: pointer;
}

.result-card {
  border: 1px solid #e5e8ed;
  padding: 10px 25px;
  line-height: 30px;
  max-height: 200px;
}

@media screen and (max-width: 950px) {
  .result-card {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 650px) {
  .bag-img {
    width: 5vw;
    height: 8vw;
  }
  .mb-30 {
    margin: 30px 5%;
  }
}
@media screen and (max-width: 435px) {
  .mb-30 {
    margin: 30px 3%;
  }
  .bag-img {
    display: none;
  }
  .M-btn {
    margin-top: 10px;
    line-height: 20px !important;
    font-size: 12px !important;
    text-align: center;
    padding: 0 10px !important;
  }
  th div {
    margin-top: 10px;
    font-size: 12px !important;
  }
}
.form-control:focus,
.form-control-sm:focus,
.form-check-input:focus,
.form-select:focus,
.form-select-sm:focus {
  border-radius: 4px;
  border-color: var(--light-green);
  box-shadow: var(--light-green) 0 1px 0, rgba(101, 240, 226, 0.653) 0 0 8px;
}

.form-check-input:checked {
  background-color: var(--light-green);
  border-color: var(--light-green);
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}
.nav .logo {
  margin-right: 30px;
}
.nav .nav-bar {
  display: flex;
  margin: 0;
}
.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav img {
  height: 18px;
  width: auto;
}
.nav img:hover {
  transform: scale(1.1);
}
.nav .like-container {
  display: flex;
  gap: 7px;
  align-items: flex-end;
  cursor: pointer;
}
.nav .like-count,
.nav .basket-count {
  line-height: 14px;
  background-color: rgba(249, 118, 118, 0.6352941176);
  padding: 2px 3px 4px;
  border-radius: 4px;
  color: #fff;
}
.nav .basket-count {
  background-color: #08b76b;
}

.nav-user {
  padding: 1.5%;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #e9e2e9;
  cursor: pointer;
}
.nav-user:hover {
  transform: scale(1.1);
}
.nav-user figure {
  display: flex;
  gap: 7px;
  align-items: center;
  margin: 0;
}
.nav-user figcaption {
  opacity: 0.9;
}
.nav-user figcaption p {
  font-size: 12px !important;
}

.nav-sales {
  background-color: var(--green);
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 150%;
  padding: 8px 0;
}
.nav-sales a {
  color: #fff;
}

@media screen and (max-width: 750px) {
  .nav ul {
    gap: 4vw;
  }
}
@keyframes shake {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  10%, 30% {
    transform: rotate(-3deg);
  }
  20%, 40% {
    transform: rotate(3deg);
  }
}
.bg {
  margin: 0;
  width: 100%;
  background-image: url(../../assets/images/vogue.jpg);
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
}

.header-container {
  padding-top: 140px;
  padding-left: 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-container .M-btn:hover {
  transform: scale(1.05);
  background-color: #161d36;
  border-color: #161d36;
}
.header-container .M-btn:active {
  background-color: #161d36;
}

.main-text {
  margin: 5px 0 30px;
  font-weight: 900;
  font-size: 54px;
  color: rgba(255, 254, 254, 0.9450980392);
}

#tree-category {
  position: relative;
}

.tree-category {
  position: absolute;
  left: 50%;
  right: 50%;
  top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.tree-category figure {
  margin: 0;
}
.tree-category img {
  max-width: 350px;
  width: auto;
  height: auto;
}
.tree-category img:hover {
  transform: scale(1.05);
  animation: shake 2s;
  animation-iteration-count: infinite;
}
.tree-category figcaption {
  margin-top: 16px;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .tree-category img {
    width: 40vw;
  }
  .bg {
    background-position: right center;
  }
}
:root {
  --green: #007876;
  --gray: #1e212c;
  --light-green: #13c59baf;
}

@font-face {
  font-family: Lato;
  src: url(../../assets/fonts/Lato-Regular.ttf);
}
body {
  font-family: Lato !important;
  margin: 0;
  overflow-x: hidden;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

p,
h1,
figure {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
a:visited, a:active, a:hover {
  text-decoration: none;
  color: inherit;
}

.mb-30 {
  margin-top: 30px;
}

.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.M-btn {
  padding: 0 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  border-radius: 4px;
  border: 1px solid var(--green);
  background-color: rgba(117, 190, 218, 0);
  color: var(--green);
  word-wrap: break-word;
  cursor: pointer;
}
.M-btn:hover {
  transform: scale(1.05);
}

.center {
  margin: auto;
}

.btn-green {
  background-color: var(--green);
  color: #fff;
}

.relative {
  position: relative;
}

.loading {
  margin: auto;
}

.mt-100 {
  margin-top: 100px;
}

.Mbtn-group {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  p,
  div,
  li,
  a,
  .M-btn,
  label {
    font-size: 14px;
  }
  .M-btn {
    line-height: 35px;
    padding: 0 25px;
  }
}

/*# sourceMappingURL=normalize.css.map */
