h3 {
  font-size: 28px;
}

.mb-3 {
  margin-bottom: 0.8em !important;
}

.modal-content {
  border: 1px solid #E5E8ED !important;
  box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05) !important;
  border-radius: 4px !important;
  font-size: 14px;
}

.modal-header {
  flex-direction: column;
  padding: 0.8em !important;
}

.modal-footer {
  flex-direction: column;
}

.form-control, .form-control-sm {
  font-size: 1em !important;
  border-radius: 4px !important;
}

.form-decription {
  text-align: center;
  color: #787A80;
}

.go-modal {
  font-weight: 600;
  color: var(--green);
  cursor: pointer;
}

.invalid {
  color: rgb(228, 6, 6);
}

.pages-container {
  margin: 40px 10% 0;
  gap: 30px;
  justify-content: space-evenly;
}
.pages-container .menu {
  border: 1px solid #E5E8ED;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}
.pages-container .menu-elem {
  display: flex;
  gap: 5px;
  align-items: center;
  line-height: 52px;
  border: 1px solid #E5E8ED;
  padding: 0 20px 0 20px;
  cursor: pointer;
  word-wrap: break-word;
}
.pages-container .menu-elem p {
  max-height: 54px;
  min-width: 90px;
}
.pages-container .menu-elem-profile {
  padding-left: 20px;
  word-wrap: break-word;
}
.pages-container .menu-elem-profile p {
  max-height: 54px;
  min-width: 90px;
}
.pages-container .name-profile {
  font-weight: 700;
  font-size: 20px;
  margin-top: 5px;
}
.pages-container .email {
  color: #787A80;
}
.pages-container .home-title {
  font-weight: 900;
  font-size: 32px;
}
.pages-container form {
  border: 1px solid #E5E8ED;
  padding: 10px;
}

.field-form {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 20px 0;
}

.collection-page {
  margin: 30px 3% 0;
  display: flex;
  gap: 5%;
}

.sortind {
  width: 70%;
}
.sortind form div {
  display: flex;
  gap: 12px;
  align-items: center;
}
.sortind .form-select-sm {
  width: 140px;
}

.cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px 25px;
  justify-content: center;
  align-items: center;
}

.card-collection {
  cursor: pointer;
}
.card-collection .images {
  position: relative;
}
.card-collection img {
  width: 278px;
  height: 355px;
}
.card-collection .sales-banner {
  position: absolute;
  top: 16px;
  font-size: 10px;
  font-weight: 900;
  background-color: #FF4242;
  color: hsla(0deg, 0%, 100%, 0.8);
  max-width: 70%;
  padding: 5px 7px;
}
.card-collection .new-collection {
  position: absolute;
  bottom: 16px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900;
  background-color: rgba(45, 45, 45, 0.8);
  color: hsla(0deg, 0%, 100%, 0.8);
  max-width: 70%;
  padding: 5px 7px;
}
.card-collection .new-collection:hover {
  transform: scale(1.05);
  left: 2px;
}
.card-collection .card-like {
  width: 18px;
  height: auto;
}
.card-collection .container-card-like {
  padding: 3px 7px 4px;
  background-color: hsla(0deg, 0%, 100%, 0.8);
  border-radius: 50px;
  border-width: 1px solid var(--gray);
  position: absolute;
  right: 16px;
  bottom: 16px;
}
.card-collection figcaption {
  padding-left: 16px;
}
.card-collection .card-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #424551;
  margin: 8px 0 0;
  cursor: pointer;
}

.price {
  font-weight: 700;
  font-size: 19px;
  line-height: 26px;
}

.static-price {
  color: #1E212C;
}

.sales-price {
  display: flex;
  align-items: flex-end;
  gap: 13px;
}

.new-price {
  color: #FF4242;
}

.old-price {
  font-weight: 400px;
  font-size: 16px;
  text-decoration-line: line-through;
  color: #787A80;
}

.card-1 {
  margin: 30px 3% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-1 .card-product {
  display: flex;
  gap: 70px;
  flex-direction: row;
  margin-top: 50px;
}
.card-1 img.main-img {
  width: 250px;
}
.card-1 .header {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

:root {
  --green: #007876;
  --gray: #1E212C;
}

@font-face {
  font-family: Lato;
  src: url(../../assets/fonts/Lato-Regular.ttf);
}
body {
  font-family: Lato !important;
  margin: 0;
  overflow-x: hidden;
}

.hidden {
  visibility: hidden;
}

p,
h1,
figure {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: inherit;
}

.text-upper {
  text-transform: uppercase;
}

.M-btn {
  padding: 0px 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  border-radius: 4px;
  border: 1px solid var(--green);
  background-color: rgba(117, 190, 218, 0);
  color: var(--green);
  cursor: pointer;
}

.center {
  margin: auto;
}

.btn-green {
  background-color: var(--green);
  color: #FFFFFF;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 5px;
}
.nav .logo {
  margin-right: 30px;
}
.nav .nav-bar {
  display: flex;
  margin: 0px;
}
.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.nav ul li {
  margin-right: 30px;
}
.nav form {
  margin-right: 30px;
}
.nav .nav-account {
  display: flex;
  align-items: center;
}
.nav .nav-account div:not(:last-child) {
  margin-right: 30px;
}

.nav-user {
  background-color: var(--gray);
  color: #FFFFFF;
  padding: 3%;
  border-radius: 4px;
  cursor: pointer;
}
.nav-user:active {
  transform: rotate(1.2);
}
.nav-user figure {
  display: flex;
  gap: 5px;
  align-items: center;
}
.nav-user figcaption {
  opacity: 0.6;
  font-size: 9px;
}

.nav-sales {
  background-color: var(--green);
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 150%;
  padding: 8px 0;
}
.nav-sales a {
  color: #FFFFFF;
}

.Mbtn-group {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.bg {
  margin: 0;
  width: 100%;
  background-image: url(../../assets/images/vogue.jpg);
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
}

.header-container {
  padding-top: 140px;
  padding-left: 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-text {
  margin: 5px 0 30px;
  font-weight: 900;
  font-size: 54px;
  color: rgba(255, 254, 254, 0.9450980392);
}

#tree-category {
  position: relative;
}

.tree-category {
  position: absolute;
  left: 50%;
  right: 50%;
  top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.tree-category figure {
  margin: 0;
}
.tree-category img {
  max-width: 350px;
  width: auto;
  height: auto;
  flex: auto;
}
.tree-category figcaption {
  margin-top: 16px;
  text-align: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages-container {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=normalize.css.map */
