.card-1{
    margin: 30px 3% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .card-product {
        display: flex;
        gap: 70px;
        flex-direction: row;
        margin-top: 50px;
    }
    img.main-img{
        width: 250px;
    }
    .header{
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    .bag-container, form{
        display: flex;
        gap: 20px;
    }
    .bag-container{
        margin: 30px 0;
    }
    input{
        width: 80px;
    }
    .M-btn{
        display: flex;
        align-items: center;
        gap: 7px;
        p{
            font-size: 14px;
            word-wrap: break-word;
            max-height: 52px;
            
        }
    }


}