h3 {
	font-size: 28px;
}

.mb-3 {
	margin-bottom: 0.8em !important;
}

.modal-content {
	border: 1px solid #e5e8ed !important;
	box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
	border-radius: 4px !important;
	font-size: 14px;
}

.modal-header {
	flex-direction: column;
	padding: 0.8em !important;
}

.modal-footer {
	flex-direction: column;
}

.form-control,
.form-control-sm {
	font-size: 1em !important;
	border-radius: 4px !important;
}

.form-decription {
	text-align: center;
	color: #787a80;
}

.go-modal {
	font-weight: 600;
	color: var(--green);
	cursor: pointer;
}

.invalid {
	color: rgb(228 6 6);
}
