@import "modals";

:root {
    --green: #17696A;
    --gray: #1E212C;

}


@font-face {
    font-family: Lato;
    src: url(../../assets/fonts/Lato-Regular.ttf);
}

body {
    font-family: Lato!important;
    margin: 0;
    overflow-x: hidden;
}
p, h1, figure {
    margin: 0;
}

a {
    text-decoration: none;

    &:visited {
        text-decoration: none;
        color: inherit;
    }
}

.text-upper {
    text-transform: uppercase;
}

.M-btn {
    padding: 0px 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    border-radius: 4px;
    border: 1px solid var(--green);
    background-color: rgba(117, 190, 218, 0.0);
    color: var(--green);
}

.btn-green {
    background-color: var(--green);
    color: #FFFFFF;
}


.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 5px;
    .logo{
        margin-right: 30px;
    }
    .nav-bar{
        display: flex;
        margin: 0px;
    }
    ul{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        li{
            margin-right: 30px;
            list-style-type: none;
        }
    }
    form{
        margin-right: 30px;
    }
    .nav-account{
        display: flex;
        align-items: center;
        div:not(:last-child){
            margin-right: 30px;
        }
       
    }

}
.nav-user {
    background-color: var(--gray);
    color: #FFFFFF;
    padding: 3%;
    border-radius: 4px;
    cursor: pointer;
    &:active{
        transform: rotate(1.2);
    }
    figure{
        display: flex;
        gap: 5px;
        align-items: center;
    }
    figcaption {
        opacity: 0.6;
        font-size: 9px;

    }
}


.nav-sales {
    background-color: var(--green);
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 150%;
    padding: 8px 0;

    a {
        color: #FFFFFF;
    }

}

.Mbtn-group {
    display: flex;
    gap: 30px;
}


.tree-category {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    figure {
        margin: 0;
    }

    img {
        max-width: 350px;
        width: auto;
        height: auto;
        flex: auto;
    }

    figcaption {
        margin-top: 16px;
        text-align: center;
    }

}

.card-collection {
    cursor: pointer;
    .images{
        position: relative;
    }
    img {
        width: 285px;
        height: 320px;
    }
    .card-like{
        position: absolute;
        max-width: 15.17px;
        height: auto;
        padding: 9.5px 8.42px;
        border-radius: 50px;
        background-color: #addbf0;
        right: 16px;
        bottom: 16px;        
    }

    .card-title{
        font-weight: 400px;
        font-size: 18px;
        line-height: 27px;
        color: #424551;
        margin: 16px 0 8px;
        cursor: pointer;
    }
    .price {
        font-weight: 700px;
        font-size: 20px;
        line-height: 26px;
        color: #1E212C;
    }

   
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
///карточка продукта
.card {
    display: flex;
    justify-content: center;
    align-items: center;
}