@import "modals";
@import "homePages";
@import "collectionPage";

:root {
    --green: #137577;
    --gray: #1E212C;
    // --green: #17696A;
}


@font-face {
    font-family: Lato;
    src: url(../../assets/fonts/Lato-Regular.ttf);
}

body {
    font-family: Lato !important;
    margin: 0;
    overflow-x: hidden;
}

.hidden {
    visibility: hidden;
}

p,
h1,
figure {
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;

}

a {
    text-decoration: none;

    &:visited {
        text-decoration: none;
        color: inherit;
    }
}

.text-upper {
    text-transform: uppercase;
}

.M-btn {
    padding: 0px 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    border-radius: 4px;
    border: 1px solid var(--green);
    background-color: rgba(117, 190, 218, 0.0);
    color: var(--green);
    cursor: pointer;

}
.center{
    margin: auto;
}

.btn-green {
    background-color: var(--green);
    color: #FFFFFF;
}


.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 5px;

    .logo {
        margin-right: 30px;
    }

    .nav-bar {
        display: flex;
        margin: 0px;
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;

        li {
            margin-right: 30px;
        }
    }

    form {
        margin-right: 30px;
    }

    .nav-account {
        display: flex;
        align-items: center;

        div:not(:last-child) {
            margin-right: 30px;
        }

    }

}

.nav-user {
    background-color: var(--gray);
    color: #FFFFFF;
    padding: 3%;
    border-radius: 4px;
    cursor: pointer;

    &:active {
        transform: rotate(1.2);
    }

    figure {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    figcaption {
        opacity: 0.6;
        font-size: 9px;

    }
}


.nav-sales {
    background-color: var(--green);
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 150%;
    padding: 8px 0;

    a {
        color: #FFFFFF;
    }

}

.Mbtn-group {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.bg {
    margin: 0;
    width: 100%;
    background-image: url(../../assets/images/vogue.jpg);
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center center;

}

.header-container {
    padding-top: 140px;
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.main-text {
    margin: 5px 0 30px;
    font-weight: 900;
    font-size: 54px;
    color: #fffefef1;
}

#tree-category {
    position: relative;
}

.tree-category {
    position: absolute;
    left: 50%;
    right: 50%;
    top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    figure {
        margin: 0;
    }

    img {
        max-width: 350px;
        width: auto;
        height: auto;
        flex: auto;
    }

    figcaption {
        margin-top: 16px;
        text-align: center;
    }

}

///карточка продукта
.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages-container {
    display: flex;
    justify-content: space-between;
}